<extend name="Layouts/base"/>
<block name="head">

    <style type="text/css">

        .kkw {float:left; height:33px; line-height:33px; margin-left:10px; font-size:14px;}
        header {
            height: 50px;
            background-color: #389ffe;
            color: white;
            line-height: 50px;
            text-align: center;
            position: relative;
            font-size: 18px;
        }
        .shtx_kek {
            float: left;
            line-height: 33px;
            border: 0;
            font-size: 14px;
            margin-left: 8px;
            width: 60%;
            color: #b6b6b6;
            white-space:nowrap;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            overflow: hidden;
        }
        a, a:visited, a:hover {
            color: #ffffff;
            text-decoration: none;
            outline: 0;
        }
        .weui_btn_primary {
            background-color: #389ffe;
        }
        .weui_btn_primary:not(.weui_btn_disabled):active {
            color: #ffffff;
            background-color: #2e8ce2;
        }
        .weui_btn {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 14px;
            padding-right: 14px;
            box-sizing: border-box;
            font-size: 17px;
            text-align: center;
            text-decoration: none;
            color: #FFFFFF;
            line-height: 2.5;
            border-radius: 5px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            overflow: hidden;
        }
    </style>
</block>
<block name="body">
    <div class="shtx_dkx">
        <div class="shtx_xm">
            <div class="shtx_pic"><img src="{$Think.config.ADMIN_IMG_URL}q1.jpg" style="width:12px; height:15px; margin-top:10px;"/></div>
            <div class="kkw">申 请 人&nbsp;&nbsp;</div>
            <div class="shtx_kk">{$user_info['user_wxnik']?:$user_info['user_name']}</div>
            <div class="both"></div>
        </div>
        <div class="shtx_xm">
            <div class="shtx_pic"><img src="{$Think.config.ADMIN_IMG_URL}q7.jpg" style="width:12px; height:13px; margin-top:11px;"/></div>
            <div class="kkw">申请时间&nbsp;&nbsp;</div>
            <div class="shtx_kek">{$bill_details[0]['create_time']|date="Y-m-d H:i:s",###}</div>
            <div class="both"></div>
        </div>
        <div class="shtx_xm">
            <div class="shtx_pic"><img src="{$Think.config.ADMIN_IMG_URL}sb3.png" style="width:12px; height:16px; margin-top:8px;"/></div>
            <div class="kkw">开票金额&nbsp;&nbsp;</div>
            <div class="shtx_kek">{:number_format($sum_pay_loan, 2);}
            </div>
            <div class="both"></div>
        </div>
    </div>
    <div class="shtx_dk2">
        <div class="shtx_xm" id="car_nos">
            <div class="shtx_pic"><img src="{$Think.config.ADMIN_IMG_URL}car2.jpg" style="width:12px; height:14px; margin-top:10px;"/></div>
            <div class="kkw">车 牌 号 &nbsp;&nbsp;</div>
            <div class="shtx_kek">
                <span>{:msubstr(join(',',$car_nos),0,20)}</span>
            </div>

            <div class="both"></div>
        </div>
        <div class="shtx_xm">
            <div class="shtx_pic"><img src="{$Think.config.ADMIN_IMG_URL}sb.png" style="width:12px; height:14px; margin-top:10px;"/></div>
            <div class="kkw">开始时间&nbsp;&nbsp;</div>
            <div class="shtx_kek">{$min_time|date="Y-m-d",###}
            </div>
            <div class="both"></div>
        </div>
        <div class="shtx_xm">
            <div class="shtx_pic"><img src="{$Think.config.ADMIN_IMG_URL}sb2.png" style="width:12px; height:14px; margin-top:10px;"/></div>
            <div class="kkw">截止时间&nbsp;&nbsp;</div>
            <div class="shtx_kek">{$max_time|date="Y-m-d",###}</div>
            <div class="both"></div>
        </div>
    </div>
    <div class="zkd">
        <div style="float:left;width:48%;"><a class="weui_btn weui_btn_primary" href="#" bill_status="{$bill_status}">{$bill_status_content}</a></div>
        <div style="float:right;width:48%;"><a class="weui_btn weui_btn_primary phone" have_phone="{$user_info['user_phone']?1:0}" href="TEL:{$user_info.user_phone}">电话联系</a></div>
        <div style="clear:both"></div>
    </div>
</block>
<block name="script">
    <script>

        $(document).ready(function(){
            //电话提示
            $('.phone').click(function(){

                if($(this).attr('have_phone')!=1){
                    $.alert("该客户未设置手机号");
                    return false;
                }

            });



            //点击显示车牌号
            var car_nos = JSON.parse('{:json_encode($car_nos)}');
            $('#car_nos').click(function(){
                var text = "";
                for(var i in car_nos){
                    text += car_nos[i];
                    text += "<br />";
                }
                $.alert({
                    title: '车牌号',
                    text: text,
                    onOK: function () {
                        //点击确认
                    }
                });
            });



            //管理员确认客户发票请求
            $('.zkd').on('click','[bill_status="0"]',function(){
                var self = this;
                $.confirm({
                    title:"提示",
                    text: "确认已受理？",
                    onOK:function(){

                        var url = "{:U('check_bill1')}";
                        var bill_id = parseInt("{$bill_id}")||0;
                        if(bill_id===0)  $.alert("发票ID获取失败！");
                        var data = {
                            bill_id : bill_id,
                        }
                        var callback = function(re){
                            console.log(re);
                            if(re.error!==0) $.alert(re.msg);
                            var replace_content = re.data.status_content;
                            if(replace_content){
                                $(self).text(replace_content);
                            }
                            $(self).attr('bill_status',1);

                        }

                        $.post(url,data,callback);
                    }
                });





            });

            //管理员通知客户来取票
            $('.zkd').on('click','[bill_status="1"]',function(){
                var self = this;
                $.confirm({
                    title:"提示",
                    text :"发票准备好了，通知客户来取票？",
                    onOK:function(){
                        var url = "{:U('check_bill2')}";
                        var bill_id = parseInt("{$bill_id}")||0;
                        if(bill_id===0)  $.alert("发票ID获取失败！");
                        var data = {
                            bill_id : bill_id,
                        }
                        var callback = function(re){
                            if(re.error!==0) $.alert(re.msg);
                            console.log(re);
                            var replace_content = re.data.status_content;
                            if(replace_content){
                                $(self).text(replace_content);
                                $(self).attr('bill_status',3);
                            }
                        }

                        $.post(url,data,callback);
                    }
                })





            });

            //确认客户取票
            $('.zkd').on('click','[bill_status="3"]',function(){
                var self = this;
                $.confirm({
                    title: '提示',
                    text: '确认客户已取票？',
                    onOK: function () {
                        var url = "{:U('check_bill3')}";
                        var bill_id = parseInt("{$bill_id}")||0;
                        if(bill_id===0)  $.alert("发票ID获取失败！");
                        var data = {
                            bill_id : bill_id,
                        }
                        var callback = function(re){
                            if(re.error!==0) $.alert(re.msg);
                            console.log(re);
                            var replace_content = re.data.status_content;
                            if(replace_content){
                                $(self).text(replace_content);
                                $(self).attr('bill_status',4);
                            }
                        }
                        $.post(url,data,callback);
                    },
                    onCancel: function () {


                    }
                });








            });

            //跳转到用户中心
            $('.zkd').on('click','[bill_status="4"]',function(){
                $.confirm({
                    title: '提示',
                    text: '客户已经领了发票，返回用户中心？',
                    onOK: function () {
                        window.location.href = "{:U('Home/User/user_index')}";
                    },
                    onCancel: function () {
                    }
                });

            });
        });






    </script>
</block>