body {margin:0; padding:0; font-family:"ו";}
.width {width:605px; height:325px; overflow:hidden; margin:0px auto; border:1px #000000 solid; box-sizing:border-box;}
.sm {width:605px; height:98px; overflow:hidden;}
.both {clear:both;}
.bt {width:222px; float:left; margin-left:180px;}
.sz {width:146px; float:left; text-align:right;}
.sj {width:222px; height:38px; overflow:hidden; text-align:center; line-height:38px; font-size:30px; font-weight:bold;}
.xx {width:222px; height:1px; overflow:hidden; border-bottom:1px #000000 solid; border-top:1px #000000 solid;}
.m19 {width:222px; height:19px; overflow:hidden;}
.m71 {width:222px; height:8px; overflow:hidden;}
.rq {width:222px; height:26px; overflow:hidden; text-align:center; line-height:26px; font-size:14px;}
.m1 {width:146px; height:36px; overflow:hidden;}
.yb {width:146px; height:40px; overflow:hidden; text-align:right; line-height:40px; font-size:24px; color:#ec7777;}
.zwd {width:605px; height:152px; overflow:hidden;}
.ft {width:28px; height:100px; overflow:hidden; float:left; text-align:center; font-size:12px; padding-top:50px;}
.ft2 {width:43px; height:92px; overflow:hidden; float:right; text-align:center; padding-top:30px; font-size:12px;}
.ft3 {width:532px; height:150px; overflow:hidden; border:1px #000000 solid; float:left;}
.kd {width:505px; padding-top:10px; padding-right:5px; float:right;}
.di1 {width:505px; height:30px; overflow:hidden;}
.di2 {width:505px; height:40px; overflow:hidden;}
.ddz {width:320px; float:left; height:30px; overflow:hidden;}
.ddz2 {width:180px; float:left; height:30px; overflow:hidden; margin-left:5px;}
.ddz3 {width:320px; float:left; height:25px; overflow:hidden; margin-top:10px;}
.ddz4 {width:180px; float:left; height:25px; overflow:hidden; margin-left:5px; margin-top:10px;}
.ddz5 {width:505px; height:30px; overflow:hidden; margin-top:10px;}
.jk {width:75px; height:30px; line-height:30px; float:left; text-align:left; font-size:16px;}
.jk2 {width:245px; height:25px; line-height:25px; float:left; border-bottom:1px #000000 solid;}
.jk3 {width:105px; height:25px; line-height:25px; float:left; border-bottom:1px #000000 solid;}
.jk4 {width:430px; height:25px; line-height:25px; float:left; border-bottom:1px #000000 solid;}
.tk {width:75px; height:25px; line-height:25px; float:left; text-align:center; font-size:16px;}
.tk2 {width:245px; height:22px; line-height:22px; float:left; border-bottom:1px #000000 solid;}
.tk3 {width:105px; height:22px; line-height:22px; float:left; border-bottom:1px #000000 solid;}
.tk4 {width:35px; height:25px; line-height:25px; float:left; text-align:center; font-size:24px; font-weight:bold;}
.tk5 {width:145px; height:22px; float:left; background:url(../images/gg.jpg) no-repeat;}
.rmb {width:90px; height:30px; line-height:30px; float:left; text-align:left; font-size:16px;}
.rmb2 {width:230px; height:22px; line-height:22px; float:left; border-bottom:1px #000000 solid;}
.ny {width:505px; height:30px; line-height:30px; text-align:right; font-size:12px;}
.zxm {width:534px; height:80px; overflow:hidden; margin-left:28px;}
.x1 {width:210px; float:left; margin-left:25px; line-height:1.2; padding-top:10px; font-size:12px;}
.x2 {width:40px; float:left; margin-right:17px; line-height:1.2; padding-top:10px; font-size:12px;}

