<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>汇得行</title>
    <style type="text/css">
        <!--
        body {margin: 0px;}
        .wz{ width: 100%; position: absolute; top: 45%; font-size:46px; text-align:center; color:#434343;}
        .tp {position:fixed; bottom:20px; width:100%; z-index:2; text-align:center;}
        -->
    </style></head>

<body>
<div class="wz">系统升级中，请稍后再试，谢谢！</div>
<div class="tp"><img src="{$Think.config.STATICS_URL}parking_card/images/few.png" width="200" height="86"></div>
</body>
</html>
