@charset "UTF-8";
dl.list dt,dl.list ddx{margin:0;border-bottom:1px solid #e5e5e5;overflow:hidden;font-size:inherit;font-weight:400;position:relative; height:2.1rem;}
.kid {width:33%; padding-top:.2rem; float:left;}
.xwc {text-align:center;}
.xwce {text-align:center; padding-top:.1rem;}
.xwce2 {text-align:center; padding-top:.2rem; padding-bottom:.3rem; color:#7a7a7a; font-size:.25rem; padding-right:0.1rem; font-family:Arial;}
.vww {width:.9rem; height:.9rem;}
.dqw {margin:0;border-bottom:1px solid #e5e5e5;overflow:hidden;font-size:inherit;font-weight:400;position:relative; padding:.2rem;}
.cww {width: .5rem;height: .5rem;margin-right: .25rem;margin-top: -.06rem;margin-bottom: -.06rem;}



.fk_rwm {width:90%; margin:1rem auto; margin-bottom:0; border:1px #e0e0e0 solid; background-color:#FFFFFF; text-align:center;}
.fk_rwm2 {padding:0.5rem;}
.fk_wz {width:90%; margin:0px auto; padding-top:.5rem; text-align:center; line-height:.1rem; color:#818181; font-size:.33rem;}
.fk_wz2 {width:90%; margin:0px auto; padding-top:.5rem; text-align:center; line-height:.1rem; color:#000000; font-size:.33rem;}
.fk_xlk {width:90%; height:100%; margin:0px auto ;text-align:center; padding-bottom:.5rem; height:.94rem;}



.mx_kw {width:100%; border-bottom:1px #d8d8d8 solid;}
.mx_wz {width:90%; margin:0px auto; padding:0.1rem;}
.mx_zb {width:60%; float:left;}
.mx_yb {width:40%; float:right; text-align:right; line-height:1.2rem; color:#03bc01; font-family:Arial; font-size:.4rem;}
.mx_yb2 {width:40%; float:right; text-align:right; line-height:1.2rem; color:#000000; font-family:Arial; font-size:.4rem;}
.mx_zbx {width:100%; font-size:.3rem; padding-top:.4rem; text-align:left; line-height:.1rem; color:#000000; font-weight:bold;}
.mx_zbx2 {width:100%; font-size:.27rem; padding-top:15px; text-align:left; line-height:1; color:#888888;}
.mx_zbx3 {width:100%; font-size:.27rem; padding-top:5px; text-align:left; line-height:1.5; color:#888888;}
.mx_zbx4 {width:100%; font-size:.27rem; padding-top:5px; text-align:left; line-height:1; color:#888888;}

.info_bj {width:100%; background-color:#fe575e;}
.info_bj_blue {width:100%; background-color:#0697dc;}
.info_tx {width:20%; margin:0px auto; padding-top:1rem;}
.info_tx2 {margin:0px auto; text-align:center; padding-top:.3rem; font-size:.35rem; color:#FFFFFF;}
.info_tx3 {margin:0px auto; text-align:center; padding-top:.3rem; padding-bottom:.5rem; font-size:.3rem; color:#FFFFFF;}




















