body {margin:0; padding:0;}
.kd {width:2581px; height:3509px; overflow:hidden; padding-top:50px; margin:0px auto;}
.zk {width:2479px; height:3507px; overflow:hidden; border:1px #999999 solid;}
.kk {width:945px; height:650px; overflow:hidden;margin-top:180px; margin-left:147px; margin-right:147px; background:url(../images/x5.jpg);}
.bk {width:865px; margin:0px auto;}
.wz {width:865px; height:142px; overflow:hidden; text-align:right; color:#FFFFFF; font-weight:bold;}
.yw {font-size:50px; font-family:Arial; line-height:122px; float:right;}
.zw {font-size:32px; font-family:"΢���ź�"; line-height:122px; float:right; margin-left:10px;}
.yh {width:853px; height:483px; overflow:hidden; border-radius:12px; background-color:#FFFFFF;}
.fe {width:820px; padding-top:29px; margin:0px auto;}
.rwm {width:425px; height:425px; overflow:hidden; float:left; border-radius:12px;}
.cw {width:350px; float:right;}
.xx {width:360px; height:324px; overflow:hidden; border-bottom:1px #999999 dashed;}
.jk {width:240px; font-size:36px; font-family:"΢���ź�"; color:#444444; font-weight:bold; margin-bottom:38px;}
.xx2 {width:350px; height:100px; overflow:hidden;}
.wy {width:350px; padding-top:25px;}
.cjy {float:left; margin-right:20px; margin-left:5px;}
.cjy2 {float:left; line-height:34px; color:#606060; font-family:"΢���ź�"; font-size:24px;}
.cg {width:343px; padding-top:11px; line-height:20px; text-align:right; font-family:"΢���ź�"; font-size:14px; color:#606060; }