<div class="portfolio-content">
    <div class="cbp-slider">
        <ul class="cbp-slider-wrap">
            <li class="cbp-slider-item">
                    <img src="http://www.hdhsmart.cn/html/demo/car/statics/plublic/img/06.jpg" alt=""> 
            </li>
            <li class="cbp-slider-item">
                    <img src="http://www.hdhsmart.cn/html/demo/car/statics/plublic/img/08.jpg" alt="">
            </li>
            <li class="cbp-slider-item">
                    <img src="http://www.hdhsmart.cn/html/demo/car/statics/plublic/img/77.jpg" alt="">
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br> </div>