<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
    <title>智慧停车场系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta content="Preview page of Metronic Admin Theme #4 for bootstrap inputs, input groups, custom checkboxes and radio controls and more" name="description" />
    <meta content="" name="author" />
	<link href="{$Think.config.STATICS_URL}plublic/css/weui.css" rel="stylesheet" type="text/css" />
	<link href="{$Think.config.STATICS_URL}plublic/css/example.css" rel="stylesheet" type="text/css" />
	<script src="{$Think.config.STATICS_URL}plublic/js/zepto.min.js"></script>
    <script src="{$Think.config.STATICS_URL}plublic/js/router.min.js"></script>
    <script src="{$Think.config.STATICS_URL}plublic/js/example.js"></script>
<style type="text/css">
<!--
.weui_btn_primary {
    background-color: #389ffe;
}
.weui_btn_primary:not(.weui_btn_disabled):active {
  color: #ffffff;
  background-color: #2e8ce2;
}
.weui_btn_area {
    margin: 0;
}
.fullimg{margin:0;padding:0;width:100%;height:auto;}
-->
</style></head>
<script>
    document.addEventListener('touchstart',function(){},false);
</script>
<body>
	<div style="width:50%; margin:50px auto; margin-bottom:0px;"><img class="fullimg" src="{$Think.config.STATICS_URL}plublic/img/kt.png" /></div>
	<div style="width:80%; margin:20px auto; border-bottom:0.8px #dedede solid; margin-bottom:0px; line-height:2; color:#389ffe; font-size:24px; text-align:center;">恭喜你！申请成功</div>
	<div style="width:80%; margin:10px auto; margin-bottom:0px; line-height:2; color:#fb4746; font-size:14px; text-align:center;">请等待3-5个工作日后到24楼出示提交申请领取发票！</div>
	<div style="width:80%; margin:20px auto; margin-bottom:0px;">
		<div class="weui_btn_area">
        	<a class="weui_btn weui_btn_primary" href="#">关 闭</a>
    	</div>
	</div>
</body>
</html>
